//-------------------------------------------------------------
// Colors
//-------------------------------------------------------------
$accent-color:     $blue;
$background-color: color($grey, 50);
$border-color:     color($grey, 400);
$link-color:       $accent-color;
$text-color:       color($grey, 900);

//-------------------------------------------------------------
// Fonts
//-------------------------------------------------------------

$font-family:         $helvetica;
$font-size:           16px;
$heading-font-family: $helvetica;
