<script type="text/x-template" id="example-additional-component">

  <h4>Vue Template example</h4>
  <p>Data: {{ static }}</p>
  <p>Static Prop: {{ msg }}</p>
  <p>Dyn Prop: {{ dynVar }}</p>

</script>
