$block-quote-accent-color: color($accent-color, 200);

// Blockquote
blockquote {
  border-left: 5px solid $block-quote-accent-color;
  margin-left: 0;
  padding: 1em;
}

// Fieldset
fieldset {
  border: 1px solid $border-color;

  legend {
    padding: 0 0.2em;
  }
}

// Ordered List
ol {
  line-height: 1.5;
  padding-left: 2.5em;
}

// Paragraph
p {
  line-height: 1.5;
}

// Unordered List
ul {
  line-height: 1.5;
  padding-left: 2.5em;
}
