<%# Tables make for the best emails! %>
<table>
  <thead>
    <tr>
      <td>Rails Project</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= yield %></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
    </tr>
  </tfoot>
</table>
